:root {
	--color-background: 248 247 255;
	--color-primary: 149 83 251;
	--color-accent: 74 227 206;
	--color-accent-secondary: 66 82 255;
	--color-stroke: 18 18 23;
}

body {
	font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Arial, sans-serif;
	text-rendering: optimizeLegilbility;
	@apply antialiased bg-background;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Space Grotesk", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Arial, sans-serif;
}

h1 {
	@apply text-4xl md:text-6xl lg:text-7xl xl:text-8xl font-medium;
}

h2 {
	@apply text-3xl md:text-4xl lg:text-5xl font-medium;
}

h3 {
	@apply text-2xl md:text-3xl font-medium;
}

.font-grotesk {
	font-family: "Space Grotesk", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Arial, sans-serif;
}
