:root {
	--color-background: 248 247 255;
	--color-primary: 149 83 251;
	--color-accent: 74 227 206;
	--color-accent-secondary: 66 82 255;
	--color-stroke: 18 18 23;
}

h1 {
	@apply text-3xl md:text-5xl lg:text-7xl font-semibold;
}

h2 {
	@apply text-2xl md:text-3xl lg:text-4xl font-semibold;
}

body {
	@apply bg-background;
}
